.content {
  margin: 20px 15px;
}

.logo {
  font-size: 2em;
  text-decoration: none;
  color: var(--success);
}

.logo:hover {
  color: var(--success);
  opacity: 0.8;
}

.header {
  background-color: white;
  border-bottom: 1px solid var(--primary);
  padding: 0 15px;
}
